.footer-logo {
    background: url(../images/logo_white.svg);
    width: 235px;
    height:70px;
    background-position: center;
    background-size: cover;
}

.bg-gnav {    
    position: absolute;
    bottom: 0;
}
.side-nav-lg {
    display: none;
    @include media-breakpoint-up(lg) {
        display: block;
    }
}
.side-nav-md {
    display: block;
    @include media-breakpoint-up(lg) {
        display: none;
    }
}
.offcanvas-top {
    height:50vh;  //手機直式
    overflow-y: auto;
    @include media-breakpoint-up(sm) {
        height:60vh;    //手機橫式  
    }
    @include media-breakpoint-up(md)  {
        height:35vh;       //平板直式
    }
}
.offcanvas-end {
    width: 300px;
}