.logo-main {
    background: url(../images/logo.svg);
    width: 260px;
    height: 78px;
    background-position: center;
    background-size: cover;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    z-index: 2;
    color: transparent;
    margin:0 auto;  
    &:hover {
        color: transparent;
    }  
   
}
.b60 {
    bottom:-60px;
}
.facility-bg-h2 {
    background: url(../images/bg_hl_bg--green.svg);
    width: 180px;
    height:100%;
    background-position: right;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 0 0 10px;
    border: none;
    @include media-breakpoint-up(md) {
        width: 300px;       
    }
}
.bg-item {
    background: url(../images/bg_item.svg);
    width: 150px;
    height:100%;
    background-position: right;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}