.banner1 {
  background: url(../images/banner.jpg);   
  background-position:50% 80%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;  
  @include media-breakpoint-up(xl) {
    height: 620px;
  }
}
.banner2 {
  background: url(../images/fire.jpg);   
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;  
  @include media-breakpoint-up(xl) {
    height: 620px;
  }
}
.banner3 {
  background: url(../images/banner3.jpg);   
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;  
  @include media-breakpoint-up(xl) {
    height: 620px;
  }
}
.banner4 {
  background: url(../images/banner4.jpg);   
  background-position:70% 45%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;  
  @include media-breakpoint-up(xl) {
    height: 620px;
  }
}
.carousel-item {
  width: 100%;
  height: 60vh;  
  @include media-breakpoint-up(xl) {
    height: 620px;
  }
}
.logo {
  background: url(../images/logo.svg);
  width: 133px;
  height: 40px;
  background-position: center;
  background-size: cover;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  z-index: 2;
  color: transparent;
  position: absolute;
  left: 15vw;
  bottom: 0px; 
  &:hover {
    color: transparent;   
  }  
  @include media-breakpoint-up(md) {
    left: 22vw;
    width: 188px;
    height: 55px;
  }
  @include media-breakpoint-up(xl){
    width: 260px;
    height: 78px;
    left: 280px;
  }
}
.weather-card-title {
  border-radius: 10px 10px 0 0 ;
}
.weather-card-body {
  border-radius:  0 0 10px 10px;
  font-size: 18px;
  @include media-breakpoint-up(md) {
    font-size: 22px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 24px;
  }
}
.map {
  background: url(../images/map_modal.jpg);
  width:300px;
  height:300px;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 10px;
  @include media-breakpoint-up(md) {
    width:506px;
    height:506px;
  }
}
.modal-dialog {  
  @include media-breakpoint-up(md) {
    max-width: 600px;
  }
  @include media-breakpoint-up(lg) {
    max-width: 800px;
  }
}
.map-img-modal { 
  @include media-breakpoint-up(md) {
    background: url(../images/map_modal.jpg);
    background-position: center;
    background-size: cover;
    width:600px;
    height:600px;
    border-radius: 10px;
  }
  @include media-breakpoint-up(lg) {
    width:800px;
    height:800px;
  }
}
.map-bg {
  background: url(../images/bg_map.svg);
  width:300px;
  height:118px;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0;
  bottom: 0;
  @include media-breakpoint-up(md) {
    width:600px;
    height:236px;
  }

  @include media-breakpoint-up(lg) {
    width:900px;
    height:354px;
  }
}
.fa-magnifying-glass-plus {
  color: $warning;
}
.map{
  .btn{
    background-color: $secondary;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border:none;
    transition: all 0.3s ease;
    &:hover {
      background-color: $danger;
      .fa-magnifying-glass-plus {
        color: $secondary;
      }
    }
  }
}
.pin-absolute {
  position: absolute;
  width: 45px;
  left: 25px;
  top: -25px;
}
.text-absolute {
  font-size: 20px;
  position: absolute;
  bottom: -15px;
  border-radius: 0 10px 10px 10px;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    
  }
}
.footer-bg {
  background: url(../images/footer_bg.jpg);
  width: 100%;
  height:400px;
  background-position: bottom;
  background-size: cover;
  @include media-breakpoint-up(md) {
    height: 650px;
  }
  @include media-breakpoint-up(lg) {
    height: 900px;
  }
}
.bottom-trangle-t0 {
  top: 0;
}