.border-radius-10 {
    border-radius: 10px;
}
.border-radius-50 {
    border-radius: 50px;
}

.z-1 {
    position: relative;
    z-index: 1;
}
.border-dotted {
    border-bottom: 1px dashed rgba(#000000, 0.4);
}
.text-hover-primary:hover {
    color: $primary;
}
.transform-180 {
    transform:rotate(180deg);
}
.text-white-hover-primary {
    color: white;
    &:hover {
        color: $primary;       
    }
}
.text-hover-primary {   
    transition:all 0.3s ease;
    &:hover {
        color: $primary;       
    }
}
.text-white-hover-warning {
    color: white;
    transition:all 0.2s ease;
    &:hover {
        color: $warning;      
    }
}
.scale2 {
    transform: scale(1.5);
}
.resize-none {
    resize: none;
    height: 150px;
}
.translate-y10 {
    transition:all 0.3s ease;
    &:hover{
        transform: translateY(-10px);        
    }
}
.stay-translate-y10 {
    transform: translateY(-10px) ;   
    color: $primary;
    
}
